.hover--underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hover--underline-light:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}

.text--small {
    font-size: 0.9rem;
}
